# DSC 530-T302
## week 2
## 2.1 Exercise: Prepairing for Exploratory Data Analysis
## Author: Theodore Koby-Hercsky
## 06/16/2021

## Display Hello World Message

In [42]:
print('Hello World!')

Hello World!

## Add, Subtract, Multiply, and Divide two numbers

In [43]:
Number_one = 50
Number_two = 5
# Add numbers
print('Numbers added equals:',(Number_one + Number_two))
# Subtract numbers
print('Numbers subtracted equals:',(Number_one - Number_two))
# Multiply numbers
print('Numbers multiplied equals:',(Number_one * Number_two))
# Divide numbers
print('Numbers divided equals:',(Number_one / Number_two))

Numbers added equals: 55
Numbers subtracted equals: 45
Numbers multiplied equals: 250
Numbers divided equals: 10.0

## Concatenate two strings together

In [44]:
String_one = "In my summer semester I am taking one class titled:"
String_two = " Data Exploration and Analysis"
Both_strings = String_one + String_two
print('Concatenate two strings:',Both_strings)

Concatenate two strings: In my summer semester I am taking one class titled: Data Exploration and Analysis

## Create a list of 4 items and append an item

In [45]:
List_one = ['one', 2, 'three', 4]
print('first list printed:',List_one)
## Append an item to your list
List_one.append('five')
print('List with append:',List_one)

first list printed: ['one', 2, 'three', 4]
List with append: ['one', 2, 'three', 4, 'five']

## Create a tuple with 4 items

In [46]:
tuple_one = ("Golden", 1, "retriever", 2)
print('My tuple: ', tuple_one)

My tuple:  ('Golden', 1, 'retriever', 2)